@mixin no-list-style() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font($size, $color, $weight, $line) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line;
}

@mixin font-bold($size, $color, $line) {
  font-family: "Open Sans", "Arial Black", sans-serif;
  font-size: $size;
  color: $color;
  font-weight: bold;
  line-height: $line;
}

@mixin footer-links($main-color) {
  fill: $main-color;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@mixin visually-hidden() {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
