@mixin font ($size, $family, $color, $weight) {
  font-size: $size;
  font-family: $family, sans-serif;
  color: $color;
  font-weight: $weight;
}

@mixin no-list-style() {
  margin: 0;
  padding: 0;
  list-style: none;
}
