@mixin no-list-style() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font($size, $color, $weight, $line) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line;
}

@mixin font-bold($size, $color, $line) {
  font-family: "Open Sans Bold", "Arial Black", sans-serif;
  font-size: $size;
  color: $color;
  font-weight: normal;
  line-height: $line;
}

@mixin footer-links($main-color) {
  fill: $main-color;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
