// colors
$darkgrey: #444444;
$lightgrey: #ececec;
$darker-lightgrey: #ededed;
$black: #000000;
$grey: #f1f1f1;
$white: #ffffff;
$aquamarine: #63d1bb;
$dark-aquamarine: #56c3b2;

$main-text-color: $darkgrey;
$secondary-text-color: $black;
$invert-text-color: $white;
$contrast-text-color: $aquamarine;

$main-border-color: $darkgrey;

$main-decor-color: $lightgrey;
$secondary-decor-color: $darker-lightgrey;

$main-bg-color: $white;
$secondary-bg-color: $grey;
$contrast-bg-color: $aquamarine;
$dark-contrast-bg-color: $dark-aquamarine;

// fonts
$main-font: "Open Sans", sans-serif;
