.bestseller {
  outline: 1px solid lightgreen;
  padding-top: 34px;
  padding-bottom: 34px;
}

.bestseller__features {
  width: 260px;
  margin-bottom: 28px;
}

.bestseller__feature {
  @include font(15px, "Open Sans", #444, normal);
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;

  &:first-child {
    width: 98px;
  }
}

.bestseller__price {
  @include font(17px, "Open Sans", #444, bold);
  line-height: 24px;
  text-align: center;
}

.bestseller__subheading {
  @include font(17px, "Open Sans", #63d1bb, bold);
  display: block;
  margin-top: 7px;
  text-transform: uppercase;
}
