.btn {
  @include font(17px, "Open Sans", #444, bold);
  box-sizing: border-box;
  padding: 0;
  display: block;
  line-height: 48px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 260px;
  height: 48px;
  border: 2px solid #444;
  background-color: #fff;

  &--green {
    color: #fff;
    border: none;
    background-color: #63d1bb;
  }

  &--margin-top30 {
    margin-top: 30px;
  }

  &--width192 {
    width: 192px;
  }
}
