.btn {
  @include font(17px, $main-text-color, bold, 20px);
  font-family: "Open Sans Bold", sans-serif;
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $main-border-color;
  background-color: $main-bg-color;

  &--green {
    color: $invert-text-color;
    border: none;
    background-color: $contrast-bg-color;
  }
}
