.categories {
  @include no-list-style();
  width: 320px;
  display: flex;
  flex-direction: column;
}

.categories__item {
  position: relative;
  box-sizing: border-box;
  height: 103px;
  padding-left: 30px;

  &--interior {
    background: $contrast-bg-color url("../img/icon-interior.svg") 243px center no-repeat;
  }

  &--toys {
    background: $dark-contrast-bg-color url("../img/icon-toy.svg") 233px center no-repeat;
  }
}

.categories__link {
  @include font(19px, $invert-text-color, bold, 24px);
  position: absolute;
  top: 50%;
  margin-top: -24px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .categories {
    flex-direction: row;
    width: 668px;
    margin-top: -58px;
  }

  .categories__item {
    height: 116px;
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1050px;
  }
}


