.categories {
  margin: 0 -30px;
}

.categories__list {
  @include no-list-style();
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.categories__link {
  @include font-bold(19px, $invert-text-color, 24px);
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  padding-left: 28px;
  padding-top: 25px;
  padding-bottom: 30px;
  position: relative;

  &--interior {
    background-color: $contrast-bg-color;
  }

  &--kids {
    background-color: $dark-contrast-bg-color;
  }

  &:hover {
    padding-bottom: 35px;
    margin-top: -5px;
  }

  &:hover .categories__icon {
    opacity: 0.7;
  }

  &:active {
    color: #97e2d2;
  }

  &:active .categories__icon {
    opacity: 0.3;
  }
}

.categories__icon {
  fill: #149080;
  opacity: 0.5;
  position: absolute;

  &-interior {
    top: 23px;
    right: 36px;
  }

  &-toy {
    top: 20px;
    right: 26px;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    box-sizing: border-box;
    width: 768px;
    padding: 0 50px;
    margin: 0 -50px;
    position: relative;
    z-index: 5;
  }

  .categories__list {
    flex-direction: row;
    width: 668px;
  }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
  }

  .categories__icon-interior {
    top: 30px;
    right: 36px;
  }

  .categories__icon-toy {
    top: 31px;
    right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1150px;
  }

  .categories__list {
    width: 1050px;
  }
}
