.content {
  background-color: #fff;
}

.content__h1 {
  @include font(27px, "Open Sans", #010000, bold);
  line-height: 30px;
  margin: 0;
}

.content__h2 {
  @include font(25px, "Open Sans", #000, bold);
  line-height: 30px;
  margin: 0;

  &--upper {
    text-transform: uppercase;
  }

  &--video {
    background: url("../img/icon-video.svg") 34px 25px no-repeat;
    box-sizing: border-box;
    border: 1px solid #ededed;
    padding-left: 91px;
    padding-top: 18px;
    padding-bottom: 31px;
  }

  &--size18 {
    font-size: 18px;
  }

  &--size17 {
    font-size: 17px;
  }

  &--line24 {
    line-height: 24px;
  }
}

.content__text {
  @include font(15px, "Open Sans", #444, normal);
  margin: 0;

  &--line20 {
    line-height: 20px;
  }

  &--line24 {
    line-height: 24px;
  }

  &--line30 {
    line-height: 30px;
  }

  &--bold {
    font-weight: bold;
  }

  &--size13 {
    font-size: 13px;
  }
}
