.container {
  box-sizing: border-box;
  width: 260px;
  margin: 0 auto;

  &--categories {
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}
