.content {
  background-color: $main-bg-color;
}

.content__h1 {
  @include font(27px, #010000, bold, 30px);
  margin: 0;
}

.content__h2 {
  @include font(25px, $secondary-text-color, bold, 30px);
  margin: 0;

  &--upper {
    text-transform: uppercase;
  }

  &--size18 {
    font-size: 18px;
  }

  &--size17 {
    font-size: 17px;
  }
}

.content__text {
  margin: 0;

  &--line20 {
    line-height: 20px;
  }

  &--line30 {
    line-height: 30px;
  }

  &--bold {
    font-weight: bold;
  }

  &--size13 {
    font-size: 13px;
  }
}
