.contacts {
  padding-top: 27px;
  padding-bottom: 39px;
}

.contacts__details {
  width: 260px;
  margin-top: 26px;
  margin-bottom: 23px;
}

.contacts__detail {
  @include font(15px, $main-text-color, normal, 30px);
  padding-top: 11px;
  padding-bottom: 11px;

  &:first-child {
    width: 78px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__details {
    width: 668px;
    display: flex;
    flex-direction: row;
  }

  .contacts__row {
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 630px;
    width: 1250px;
  }

  .contacts__details {
    width: 260px;
    flex-direction: column;
  }

  .contacts__btn {
    margin: 0;
    margin-left: 175px;
  }

  .contacts__title {
    width: 400px;
  }
}
