.copyright {
  box-sizing: border-box;
  width: 260px;
  border-top: 1px solid #e5e5e5;
  margin: 0 auto;
  padding-top: 26px;
  padding-left: 38px;
  padding-right: 33px;
  display: table;
}

.copyright__text {
  @include font(19px, $secondary-text-color, normal, 19px);
  font-family: "Open Sans Bold", sans-serif;
  padding-left: 27px;
  display: table-cell;
  vertical-align: top;
  padding-top: 3px;
  padding-right: 30px;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  display: table-cell;
  vertical-align: bottom;
}

.copyright__link {
  margin-right: 39px;
  display: table;
  text-decoration: none;

  @include footer-links(#63d1bb);
}

@media (min-width: $tablet-width) {
  .copyright {
    border: none;
    width: auto;
    margin: 0;
    text-align: right;
    padding: 0;
  }

  .copyright__link {
    margin: 0;
    padding: 0;
    padding-top: 6px;
  }

  .copyright__text {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-right: 28px;
  }
}
