.features {
  box-sizing: border-box;
  padding-top: 28px;
  padding-bottom: 31px;
}

.features__heading {
  @include font(25px, $secondary-text-color, bold, 30px);
  font-family: "Open Sans Bold", sans-serif;
  margin: 0;
  margin-left: -2px;
  margin-bottom: 1px;
}

.features__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 30px;
  width: 260px;
}

.features__item {
  @include font(17px, $secondary-text-color, normal, 20px);
  font-family: "Open Sans Bold", sans-serif;
  box-sizing: border-box;
  padding-top: 54px;
  padding-bottom: 30px;
  position: relative;

  .features__icon {
    display: block;
    position: absolute;
    fill: #63d1bb;
  }

  .features__icon-ecology {
    top: 0;
    left: 7px;
  }

  .features__icon-price {
    top: 0;
    left: 0;
  }

  .features__icon-likes {
    top: 4px;
    left: 7px;
  }

  .features__icon-handmade {
    top: 1px;
    left: 3px;
  }

  .features__icon-local {
    top: 3px;
    left: -7px;
  }

  .features__icon-gift {
    top: 0;
    left: 3px;
  }

  &--handmade {
    padding-top: 52px;
  }

  &--gift {
    padding-top: 53px;
    padding-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 51px;
    padding-bottom: 22px;
  }

  .features__list {
    width: 668px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 49px;
  }

  .features__item {
    width: 334px;
    font-size: 20px;
    line-height: 22px;
    padding-right: 38px;
    padding-bottom: 57px;
  }

  .features__item--ecology {
    order: 1;
  }

  .features__icon-ecology {
    top: 0;
    left: 7px;
  }

  .features__item--handmade {
    order: 2;
  }

  .features__item--price {
    order: 3;
  }

  .features__item--local {
    order: 4;
  }

  .features__item--likes {
    order: 5;
  }

  .features__item--gift {
    order: 6;
  }

  .features__icon-likes {
    top: 4px;
    left: 7px;
  }

  .features__icon-gift {
    top: 0;
    left: 3px;
  }

  .features__item:nth-child(2n + 1) {
    padding-top: 55px;
  }

  .features__heading {
    font-size: 43px;
    line-height: 50px;
    margin-left: -3px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 60px;
    padding-bottom: 31px;
  }

  .features__list {
    width: 700px;
  }

  .features__heading {
    font-size: 53px;
    line-height: 57px;
  }

  .features__item {
    width: 350px;
  }
}
