.features {
  box-sizing: border-box;
  padding-top: 28px;
  padding-bottom: 31px;
}

.features__heading {
  @include font(25px, $secondary-text-color, bold, 30px);
  font-family: "Open Sans Bold", sans-serif;
  margin: 0;
  margin-left: -2px;
  margin-bottom: 1px;
}

.features__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 30px;
  width: 260px;
}

.features__item {
  @include font(17px, $secondary-text-color, normal, 20px);
  font-family: "Open Sans Bold", sans-serif;
  box-sizing: border-box;
  padding-top: 54px;
  padding-bottom: 30px;

  &--ecology {
    background: url("../img/icon-feature-flower.svg") no-repeat 7px top;
  }

  &--price {
    background: url("../img/icon-feature-money.svg") no-repeat left top;
  }

  &--likes {
    background: url("../img/icon-feature-heart.svg") no-repeat 7px 4px;
  }

  &--handmade {
    background: url("../img/icon-feature-ball.svg") no-repeat 3px top;
    padding-top: 52px;
  }

  &--local {
    background: url("../img/icon-feature-rocket.svg") no-repeat -5px 3px;
  }

  &--gift {
    background: url("../img/icon-feature-gift.svg") no-repeat 3px top;
    padding-top: 53px;
    padding-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 51px;
    padding-bottom: 24px;
  }

  .features__list {
    width: 668px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 49px;
  }

  .features__item {
    width: 334px;
    height: 126px;
    font-size: 20px;
    line-height: 22px;
    padding-right: 38px;
    padding-bottom: 101px;
  }

  .features__item:nth-child(2n + 1) {
    padding-top: 55px;
  }

  .features__heading {
    font-size: 43px;
    line-height: 50px;
    margin-left: -3px;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    width: 700px;
    //margin-left: 175px;
  }

  .features__heading {
    //margin-left: 175px;
  }

  .features__item {
    width: 350px;
  }
}
