.form {
  padding-bottom: 55px;
  padding-top: 15px;
}

.form__inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form__input {
  &--phone {
    background: url("../img/icon-phone.svg") right center no-repeat;
  }

  &--letter {
    background: url("../img/icon-mail.svg") right center no-repeat;
  }
}

.form__fieldset {
  border: none;
  border-top: 1px solid #62d1ba;
  margin-top: 34px;
  padding: 0;
}

.form__legend {
  text-transform: uppercase;
  color: $contrast-text-color;
  background-color: $main-bg-color;
  width: 62px;
  margin-top: -12px;
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  margin-top: 13px;
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .form__fieldset-container {
    display: flex;
    flex-direction: row;
  }

  .form__inputs-container--colors {
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
  }

  .form__legend {
    width: 167px;
    margin: 0;
    background-color: transparent;
  }

  .form__checkbox-area {
    width: 250px;
  }

  .form__inputs-container {
    flex-direction: row;
  }

  .form__radio-column {
    flex-direction: row;
  }

  .form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .form__fieldset {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .form__inputs-container--colors {
    width: 875px;
  }

  .form__checkbox-area {
    width: 262px;
  }
}
