.form {
  padding-bottom: 55px;
  padding-top: 9px;
}

.form__description {
  @include font(13px, $main-text-color, normal, 24px);
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--type {
    padding-top: 22px;
    padding-bottom: 17px;
  }

  &--colors {
    padding-top: 28px;
    padding-bottom: 22px;
  }

  &--name {
    padding-top: 19px;
    padding-bottom: 23px;
  }

  &--phone {
    padding-top: 19px;
    padding-bottom: 21px;
  }

  &--mail {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  &--comment {
    padding-top: 21px;
  }
}

.form__legend {
  @include font(17px, $contrast-text-color, normal, 17px);
  text-transform: uppercase;
  font-family: "Open Sans Bold", sans-serif;
  margin-top: -12px;
  margin-bottom: 33px;
  box-sizing: border-box;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 62px;
    top: 9px;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
  }

  &--phone,
  &--email {
    margin-bottom: 10px;
  }

  &--comment {
    margin-bottom: 25px;
  }

  &--email::after {
    left: 81px;
    width: 179px;
  }
}

.form__inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form__inputs-container--text {
  &:first-of-type {
    margin-bottom: 23px;
  }

  &:nth-of-type(2) {
    margin-bottom: 24px;
  }
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__label {
  @include font(17px, $secondary-text-color, normal, 18px);
  font-family: "Open Sans Bold", sans-serif;
  display: block;

  &::before {
    content: "";
    display: inline-block;
    width: 39px;
    margin-right: 23px;
    float: left;
  }
}

.form__label--radio {
  &:first-of-type {
    margin-bottom: 25px;
  }

  &::before {
    height: 39px;
    border-radius: 50%;
    margin-top: -8px;
    box-shadow: 0 0 0 2px $main-border-color inset;
  }

  &:hover::before {
    cursor: pointer;
    box-shadow: 0 0 0 2px #62d1ba inset;
  }

  &:active::before {
    box-shadow: 0 0 0 2px #c7c7c7 inset;
  }
}

:checked + .form__label--radio {
  &::before {
    background-color: #62d1ba;
    box-shadow:
      0 0 0 2px $main-border-color inset,
      0 0 0 12px $main-bg-color inset;
  }

  &:hover::before {
    cursor: pointer;
    box-shadow:
      0 0 0 2px #62d1ba inset,
      0 0 0 12px $main-bg-color inset;
  }

  &:active::before {
    box-shadow:
      0 0 0 2px #c7c7c7 inset,
      0 0 0 12px $main-bg-color inset;
  }
}

.form__label--checkbox {
  margin-bottom: 31px;

  &:nth-of-type(2) {
    margin-bottom: 33px;
  }

  &:nth-last-of-type(2) {
    margin-top: 2px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    margin-top: -10px;
    height: 39px;
    box-shadow: 0 0 0 2px $main-border-color inset;
  }

  &:hover::before {
    cursor: pointer;
    box-shadow: 0 0 0 2px #62d1ba inset;
  }

  &:active::before {
    box-shadow: 0 0 0 2px #c7c7c7 inset;
  }
}

:checked + .form__label--checkbox {
  &::before {
    background: url("../img/icon-tick.svg") center no-repeat;
    background-size: 22px 16px;
    box-shadow: 0 0 0 2px $main-border-color inset;
  }

  &:hover::before {
    cursor: pointer;
    box-shadow: 0 0 0 2px #62d1ba inset;
  }

  &:active::before {
    box-shadow: 0 0 0 2px #c7c7c7 inset;
  }
}

.form__input {
  @include font(19px, $main-text-color, normal, 19px);
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 11px 0;
  width: 260px;
  background-color: transparent;

  &::placeholder {
    @include font(17px, $main-text-color, normal, 18px);
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: #62d1ba;
  }
}

.form__inputs-container--contacts {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 9px;
  right: 8px;
  fill: #cccccc;

  &--mail {
    top: 13px;
    right: 5px;
  }
}

.form__input:hover + .form__icon {
  fill: #62d1ba;
}

.form__textarea {
  @include font(19px, $main-text-color, normal, 19px);
  box-sizing: border-box;
  width: 260px;
  padding: 16px 15px;
  border: 2px solid #000000;
  min-height: 142px;
  resize: none;

  &:hover {
    box-shadow: none;
    outline: none;
    border-color: #62d1ba;
  }

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: #62d1ba;
  }

  &::placeholder {
    @include font(17px, $main-text-color, normal, 18px);
    opacity: 0.3;
  }
}

.form__footer {
  padding-top: 10px;
}

.form__note {
  @include font(14px, $main-text-color, normal, 16px);
  margin: 0;
  margin-bottom: 33px;
}

.form__btn {
  width: 260px;
  padding: 14px 0;
  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 57px;
    padding-bottom: 50px;
  }

  .form__fieldset--type {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .form__fieldset--colors {
    padding-top: 66px;
    padding-bottom: 10px;
  }

  .form__fieldset--name {
    padding-top: 52px;
    padding-bottom: 22px;
  }

  .form__fieldset--phone {
    padding-top: 52px;
  }

  .form__fieldset--mail {
    padding-top: 4px;
    padding-bottom: 50px;
  }

  .form__fieldset--comment {
    padding-top: 50px;
    padding-bottom: 27px;
  }

  .form__label--radio::before {
    width: 50px;
    height: 50px;
    margin-top: -14px;
    margin-left: 1px;
  }

  .form__icon {
    right: 26px;

    &--mail {
      top: 14px;
      right: 25px;
    }
  }

  .form__label--checkbox::before {
    width: 53px;
    height: 52px;
    margin: 0;
    margin-top: -16px;
  }

  .form__label--checkbox {
    width: 239px;
    margin: 0;
    margin-bottom: 40px;
  }

  .form__label--checkbox:nth-last-of-type(2) {
    margin-top: 0;
  }

  :checked + .form__label--checkbox::before {
    background-size: 33px 22px;
  }

  .form__description {
    font-size: 17px;
    line-height: 30px;
  }

  .form__label {
    font-size: 19px;
    box-sizing: border-box;
  }

  .form__label--radio:first-of-type {
    margin-bottom: 59px;
  }

  .form__label::before {
    margin-right: 28px;
  }

  .form__label--short {
    padding-left: 2px;
    width: 71px;
    display: table-cell;
    vertical-align: middle;
  }

  .form__label--long {
    padding-left: 1px;
    display: table-cell;
    vertical-align: middle;
    width: 127px;
  }

  .form__fieldset-container {
    display: flex;
    flex-direction: row;
  }

  .form__legend {
    width: 167px;
    margin: 0;
    background-color: transparent;
    display: inline-flex;
  }

  .form__legend::after {
    display: none;
  }

  .form__legend--comment {
    margin-top: 18px;
  }

  .form__legend--name,
  .form__legend--phone,
  .form__legend--email {
    margin-top: 15px;
  }

  .form__inputs-container {
    flex-direction: row;
    width: 501px;
  }

  .form__inputs-container--colors {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__inputs-container--text:nth-of-type(1n) {
    margin: 0;
    margin-bottom: 27px;
    display: table;
  }

  .form__input {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-left: 20px;
  }

  .form__input--phone,
  .form__input--letter {
    width: 501px;
  }

  .form__input::placeholder {
    font-size: 19px;
  }

  .form__textarea {
    width: 501px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form__note {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    align-self: center;
  }

  .form__radio-column {
    flex-direction: row;
  }

  .form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 668px;
    padding-top: 27px;
  }

  .form__btn {
    width: 230px;
  }

  .form__grey-container {
    background-color: $secondary-bg-color;
    margin: 0 -50px;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-top: 107px;
    padding-bottom: 47px;
  }

  .form__description {
    margin-left: 175px;
    width: 700px;
  }

  .form__icon {
    right: 5px;
  }

  .form__icon--mail {
    right: 2px;
  }

  .form__legend {
    width: 175px;
  }

  .form__legend--type {
    padding-left: 64px;
    padding-top: 1px;
  }

  .form__legend--colors {
    padding-left: 61px;
  }

  .form__legend--name {
    padding-left: 61px;
  }

  .form__textarea,
  .form__inputs-container {
    width: 700px;
  }

  .form__inputs-container--colors {
    width: 726px;
    justify-content: space-between;
  }

  .form__fieldset--name {
    padding-top: 50px;
  }

  .form__input {
    &--phone,
    &--letter {
      width: 100%;
    }
  }

  .form__label--checkbox {
    width: 202px;
  }

  .form__label--checkbox:nth-last-of-type(3) {
    margin-bottom: 0;
  }

  .form__label--short {
    padding-left: 0;
    width: 74px;
    vertical-align: top;
    padding-top: 12px;
  }

  .form__label--long {
    padding-left: 0;
    width: 127px;
    vertical-align: top;
    padding-top: 12px;
  }

  .form__legend--phone {
    padding-left: 62px;
  }

  .form__legend--email {
    padding-left: 62px;
    padding-top: 2px;
  }

  .form__legend--comment {
    padding-left: 62px;
  }

  .form__footer {
    box-sizing: border-box;
    width: 875px;
    padding-left: 175px;
    padding-top: 24px;
  }
}
