.horizontal-line {
  width: 320px;
  height: 7px;
  margin: 0 -30px;
  background: url("../img/bg-zigzag-line.svg") repeat-x right center;
  background-size: 100% 100%;
  background-position-x: -26px;
}

@media (min-width: $tablet-width) {
  .horizontal-line {
    width: $tablet-width;
    height: 17px;
    margin: 0 -50px;
  }
}

@media (min-width: $desktop-width) {
  .horizontal-line {
    width: 100%;
    background-position-x: -26px;
    background-size: 1000px;
    height: 24px;
    margin: 0;
  }
}
