.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0 -30px;
  border-top: 1px solid $main-decor-color;
}

.main-nav__logo {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
  margin-bottom: 16px;
}

.main-nav__toggle {
  padding: 0;
  border: none;
  position: absolute;
  right: 30px;
  top: 29px;
  z-index: 500;
}

.main-nav__delivery {
  display: none;
}

@media (max-width: 767px) {
  .main-nav--nojs {
    & .main-nav__toggle {
      display: none;
    }

    & .page-menu--main {
      display: block;
    }

    & .page-menu--user {
      display: block;
    }
  }

  .main-nav--opened {
    & .main-nav__toggle {
      background: url("../img/icon-menu-close.svg") center no-repeat;
      width: 21px;
      height: 20px;
    }

    & .page-menu--main {
      display: block;
    }

    & .page-menu--user {
      display: block;
    }
  }

  .main-nav--closed {
    & .main-nav__toggle {
      background: url("../img/icon-menu-open.svg") center no-repeat;
      width: 20px;
      height: 14px;
    }

    & .page-menu--main {
      display: none;
    }

    & .page-menu--user {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin: 0 -50px;
    padding: 0 50px;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
  }

  .main-nav__logo {
    order: 1;
    margin: 0;
    margin-top: 22px;
  }

  .main-nav__logo-img {
    width: 113px;
    height: 46px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery {
    position: relative;
    z-index: 10;
    display: inline-block;
    order: 4;
    margin-top: 17px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    order: 2;
    margin: 0;
    margin-top: 9px;
    margin-left: -20px;
  }

  .main-nav__logo-img {
    width: 149px;
    height: 72px;
  }

  .main-nav__delivery {
    order: 5;
  }
}
