.map {
  border: 1px solid black;
  overflow: hidden;
  padding-bottom: 457px;
  position: relative;
  margin: 0 -30px;
}

.map__embed {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
    margin: 0 -50px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 525px;
    margin: 0;
  }
}
