.order--closed {
  display: none;
}

.order--open {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 505;
  top: 0;
  left: 0;
}

.order__modal-window {
  border-top: 1px solid #c7c7c7;
  background: white;
  opacity: 1;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  padding-top: 30px;
  padding-bottom: 46px;
  text-align: center;
  position: fixed;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 510;
}

.order__heading {
  @include font-bold(25px, $secondary-text-color, 30px);
  margin: 0;
  text-transform: uppercase;
}

.order__form {
  margin-top: 10px;
  padding-bottom: 0;
}

.order__legend {
  @include font(15px, $main-text-color, normal, 30px);
  margin: 0;
  margin-bottom: 23px;
}

.order__fieldset {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 31px;
  padding: 0;
  border: none;
}

.order__btn {
  padding-left: 82px;
  padding-right: 83px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.order__radio {
  display: none;
}

.order__radio-btn {
  @include font(17px, $main-text-color, normal, 17px);
  display: inline-block;
  text-align: center;
  width: 78px;
  line-height: 48px;
  border: 2px solid $main-decor-color;

  &:hover {
    border-color: #c7c7c7;
  }

  &:active {
    border-color: $contrast-bg-color;
  }
}

.order__label {
  margin-right: 7px;

  &:last-of-type {
    margin-right: 0;
  }
}

:checked + .order__radio-btn {
  border-color: $contrast-bg-color;
}

@media (min-width: $tablet-width) {
  .order__modal-window {
    width: 566px;
    border: 1px solid grey;
    margin: 0 auto;
  }
}
