.page-footer {
  background-color: $secondary-bg-color;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 19px;
  margin: 0 -30px;
}

.page-footer__logo {
  display: none;
  width: 182px;
  margin: auto 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    padding-top: 51px;
    padding-bottom: 45px;
    margin: 0 -50px;
  }

  .page-footer__logo {
    display: inline-block;
    width: 102px;
  }
}
