.page-menu {
  @include no-list-style();
}

.page-menu__item {
  box-sizing: border-box;
  height: 79px;
  line-height: 79px;
  border-bottom: 1px solid $main-decor-color;
  text-align: left;
  padding-left: 76px;

  &--search {
    background: url("../img/icon-search.svg") 30px center no-repeat;
  }

  &--cart {
    background: url("../img/icon-cart.svg") 30px center no-repeat;
  }
}

.page-menu__link {
  @include font(17px, $secondary-text-color, bold, 24px);
  text-decoration: none;
}
