.page-title {
  box-sizing: border-box;
  border-top: 1px solid $main-decor-color;
  min-height: 177px;
  background-color: $secondary-bg-color;
  text-align: center;

  &--main {
    background-color: #f9f9f9;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -17px;
    background-size: 575px auto;
    min-height: 489px;
    padding-top: 71px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.page-title__heading {
  @include font(27px, #010000, normal, 30px);
  font-family: "Open Sans Bold", sans-serif;
  margin: 0;
  padding: 0 38px;

  &--inner {
    color: $secondary-text-color;
    padding: 0 36px;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-title--main {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    margin-top: -41px;
    position: relative;
  }

  .page-title::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 24px;
    background: url("../img/bg-zigzag-fill.svg") repeat-x left;
    background-size: contain;
  }

  .page-title--main {
    min-height: 745px;
    background-size: cover;
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  .page-title--inner {
    min-height: 224px;
  }

  .page-title__heading {
    font-size: 43px;
    line-height: 50px;
    color: $secondary-text-color;

    &--main {
      margin-top: 153px;
    }

    &--inner {
      margin-top: 93px;
    }
  }
}

@media (min-width: $tablet-width) and (min-resolution: $retina-dpi),
  (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
  .page-title--main {
    background-image: url("../img/hero-tablet@2x.jpg");
    background-position: center 0;
    background-size: cover;
  }
}

@media (min-width: $desktop-width) {
  .page-title--inner {
    min-height: 252px;
  }

  .page-tile--main {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1250px 100%;
  }

  .page-title__heading--main {
    padding: 0 250px;
  }

  .page-title__heading {
    font-size: 53px;
    line-height: 57px;
  }

  .page-title::after {
    width: 100%;
    height: 34px;
    bottom: -19px;
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-dpi),
  (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
  .page-title--main {
    background-image: url("../img/hero-desktop@2x.jpg");
    background-size: 1250px 100%;
  }
}
