.page-title {
  box-sizing: border-box;
  height: 282px;
  background-color: #f1f1f1;
  padding-top: 76px;
}

.page-title--main {
  width: 100%;
  background: url("../img/hero-mobile@1x.jpg") center no-repeat;
  text-align: center;
}
