.product {
  margin-top: 30px;
  width: 260px;
}

.product__info {
  box-sizing: border-box;
  border: 1px solid $secondary-decor-color;
  width: 260px;
  padding-top: 27px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 27px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product__heading {
  @include font(17px, $secondary-text-color, normal, 24px);
  font-family: "Open Sans Bold", sans-serif;
  margin: 0;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__text {
  @include font(13px, $secondary-text-color, normal, 30px);
  margin: 0;
  margin-top: 6px;
  margin-bottom: 18px;
}

.product__shop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 1px solid $main-decor-color;
  padding-top: 20px;
}

.product__price {
  font-family: "Open Sans Bold", sans-serif;
}

.product__img-container {
  box-sizing: border-box;
  width: 260px;
  height: 195px;
  display: block;
  padding: 0;
  margin: 0;
}

.product__img {
  display: block;
}

.product__cart {
  fill: #d3d2d2;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .products__container {
    padding-top: 51px;
  }

  .product {
    width: 668px;
    min-height: 334px;
    display: flex;
    flex-direction: row;
  }

  .product:nth-child(1n+2) {
    margin-top: 54px;
  }

  .product__heading {
    font-size: 20px;
  }

  .product__text {
    font-size: 15px;
  }

  .product__price {
    font-size: 17px;
    margin-left: 4px;
  }

  .product__img-container {
    width: auto;
    height: auto;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 335px;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 24px;
  }

  .product__shop {
    padding-top: 23px;
  }
}

@media (min-width: $desktop-width) {
  .products__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 132px;
  }

  .product {
    width: 316px;
    min-height: 658px;
    flex-direction: column;
    margin-top: 0;
  }

  .product__heading {
    width: 230px;
  }

  .product:nth-child(1n+2) {
    margin-top: 0;
    width: 315px;
  }

  .product:nth-child(1n+2) .product__info {
    padding-left: 23px;
  }

  .product__info {
    min-height: 196px;
    width: 316px;
    padding-bottom: 25px;
  }

  .product__text {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .product__price {
    margin-left: 0;
  }
}
