.product {
  margin-top: 30px;
  width: 260px;
}

.product__info {
  box-sizing: border-box;
  border: 1px solid $secondary-decor-color;
  padding-top: 14px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 33px;
}

.product__shop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.product__img-container {
  border: 1px solid black;
  width: 260px;
  height: 195px;
}

@media (min-width: $tablet-width) {
  .product {
    width: 668px;
    height: 334px;
    display: flex;
    flex-direction: row;
  }

  .product__img-container {
    width: 332px;
    height: 334px;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 335px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .products__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product {
    width: 314px;
    height: 658px;
    flex-direction: column;
  }

  .product__img-container {
    width: 314px;
    height: 463px;
  }

  .product__info {
    height: 198px;
    width: 314px;
  }
}
