.social {
  text-align: center;
  height: 80px;
  line-height: 80px;
  width: 182px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    border: none;
    margin: auto 0;
  }
}

.social__list {
  @include no-list-style();
}

.social__item {
  display: inline-block;
  margin-left: 41px;

  &:first-child {
    margin-left: 0;
  }
}
