.social {
  width: 141px;
  margin: 0;
  margin-left: 57px;
  margin-bottom: 21px;
}

.social__list {
  @include no-list-style();
}

.social__item {
  display: inline-block;
  margin: 0;

  &:nth-child(2) {
    margin-left: 38px;
  }

  &:last-child {
    margin-left: 33px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    margin: auto 0;
  }
}
